<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>ToDo List</title>
</head>
<body>
    <div id="root" class="container">

        <h1 class="title">ToDo List &check;</h1>

        <div class="add-box">
            <input type="text" placeholder="Add a new task" v-model="newTask.text" @keyup.enter="add">
            <button @click="add">Add</button>
        </div>
       
        <div class="task-box">
            <div class="free" v-if="tasks.length === 0"> you're all done!! =]</div> 
            <ul v-else>
                
                <li v-for="(task, i) in tasks" :key="i" :class="i % 2 === 0 ? 'back-blue' : 'back-light-blue' ">
                    <span @click="doneTask(i)" class="list-item" :class="task.done === true ? 'crossed' : '' ">{{task.text}}</span>
                    <span class="check" @click="removeTask(i)">&check;</span>
                </li>
            </ul>
        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>